<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
	<title>MinTic Grupo 9 | Admin</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href='{% static "plantillas/css/main.css" %}' >
</head>
<body>
	<!-- SideBar -->
	<section class="full-box cover dashboard-sideBar">
		<div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
		<div class="full-box dashboard-sideBar-ct">
			<!--SideBar Title -->
			<div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
				MinTic Grupo 9 <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
			</div>
			<!-- SideBar User info -->
			<div class="full-box dashboard-sideBar-UserInfo">
				<figure class="full-box">
                    {% if request.session.email %}
					<img src= '{%static "plantillas/assets/img/avatar.jpg" %}' alt="UserIcon">
					<figcaption class="text-center text-titles">{{request.session.email}}</figcaption>
					<!-- <figcaption class="text-center text-titles">{{request.session.id_usuario}}</figcaption> -->
				</figure>
                {%endif%}
				<ul class="full-box list-unstyled text-center">
					<li>
						<a href="/login/" class="btn-exit-system">
							<i class="zmdi zmdi-power"></i>
						</a>
					</li>
				</ul>
			</div>
			<!-- SideBar Menu -->
			<ul class="list-unstyled full-box dashboard-sideBar-Menu">
				<li>
					<a href="home.html">
						<i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Inicio
					</a>
				</li>
				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-case zmdi-hc-fw"></i> Empresas <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="/NuevaEmpresa/"><i class="zmdi zmdi-case zmdi-hc-fw"></i> Nueva Empresa</a>
						</li>
						<li>
							<a href="/Empresa/"><i class="zmdi zmdi-book zmdi-hc-fw"></i> Consultar Empresa</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-account-add zmdi-hc-fw"></i> Usuarios <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="/NuevoUsuario/"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Nuevo Usuario</a>
						</li>
						<li>
							<a href="/Usuario/"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Consultar Usuario</a>
						</li>
						<li>
							<a href="/NuevoEmpleado/"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Nuevo Empleado</a>
						</li>
						<li>
							<a href="/Empleado/"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Consultar Empleado</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-card zmdi-hc-fw"></i> Transacciones <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
                        <li>
							<a href="/NuevaTransaccion/"><i class="zmdi zmdi-money-box zmdi-hc-fw"></i> Nueva Transaccion</a>
						</li>
						<li>
							<a href="/Transaccion/"><i class="zmdi zmdi-money-box zmdi-hc-fw"></i> Consultar Transacciones</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</section>

	<!-- Content page-->
	<section class="full-box dashboard-contentPage">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
			</ul>
		</nav>
		<!-- Content page -->
		<div class="container-fluid">
			<div class="page-header">
			  <h1 class="text-titles">MinTic <small>Administrador</small></h1>
		{% if request.session.id_usuario %}
		<h1>{{request.session.id_usuario}}</h1>
			</div>
			
		</div>

		{%endif%}

		<div class="full-box text-center" style="padding: 30px 10px;">
			<article class="full-box tile">
				<div class="full-box tile-title text-center text-titles text-uppercase">
					Administradores
				</div>
				<div class="full-box tile-icon text-center">
					<i class="zmdi zmdi-account"></i>
				</div>
				<div class="full-box tile-number text-titles">
					<p class="full-box">7</p>
					<small>Register</small>
				</div>
			</article>
			<article class="full-box tile">
				<div class="full-box tile-title text-center text-titles text-uppercase">
					Empresas
				</div>
				<div class="full-box tile-icon text-center">
					<i class="zmdi zmdi-case zmdi-hc-fw"></i>
				</div>
				<div class="full-box tile-number text-titles">
					<p class="full-box">10</p>
					<small>Register</small>
				</div>
			</article>
			<article class="full-box tile">
				<div class="full-box tile-title text-center text-titles text-uppercase">
					Empleados
				</div>
				<div class="full-box tile-icon text-center">
					<i class="zmdi zmdi-male-female"></i>
				</div>
				<div class="full-box tile-number text-titles">
					<p class="full-box">70</p>
					<small>Register</small>
				</div>
			</article>
			<article class="full-box tile">
				<div class="full-box tile-title text-center text-titles text-uppercase">
					Transacciones
				</div>
				<div class="full-box tile-icon text-center">
					<i class="zmdi zmdi-money-box zmdi-hc-fw"></i>
				</div>
				<div class="full-box tile-number text-titles">
					<p class="full-box">70</p>
					<small>Register</small>
				</div>
			</article>
		</div>

	</section>
	
	<!--====== Scripts -->
	<script src='{%static "plantillas/js/jquery-3.1.1.min.js" %}'></script>
	<script src='{%static "plantillas/js/sweetalert2.min.js"  %}'></script>
	<script src='{%static "plantillas/js/bootstrap.min.js" %}'></script>
	<script src='{%static "plantillas/js/material.min.js"  %}'></script>
	<script src='{%static "plantillas/js/ripples.min.js"  %}'></script>
	<script src='{%static "plantillas/js/jquery.mCustomScrollbar.concat.min.js" %}'></script>
	<script src='{%static "plantillas/js/main.js" %}'></script>
	<script>
		$.material.init();
	</script>
</body>
</html>