<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
	<title>MinTic Grupo 9 | Admin</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href='{% static "plantillas/css/main.css" %}' >
</head>
<body>
	<!-- SideBar -->
	<section class="full-box cover dashboard-sideBar">
		<div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
		<div class="full-box dashboard-sideBar-ct">
			<!--SideBar Title -->
			<div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
				MinTic Grupo 9 <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
			</div>
			<!-- SideBar User info -->
			<div class="full-box dashboard-sideBar-UserInfo">
				<figure class="full-box">
                    {% if request.session.email %}
					<img src= '{%static "plantillas/assets/img/avatar.jpg" %}' alt="UserIcon">
					<figcaption class="text-center text-titles">{{request.session.email}}</figcaption>
				</figure>
                {%endif%}
				<ul class="full-box list-unstyled text-center">
					<li>
						<a href="#!" class="btn-exit-system">
							<i class="zmdi zmdi-power"></i>
						</a>
					</li>
				</ul>
			</div>
			<!-- SideBar Menu -->
			<ul class="list-unstyled full-box dashboard-sideBar-Menu">
				<li>
					<a href="home.html">
						<i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Inicio
					</a>
				</li>
				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-case zmdi-hc-fw"></i> Empresas <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="/NuevaEmpresa/"><i class="zmdi zmdi-case zmdi-hc-fw"></i> Nueva Empresa</a>
						</li>
						<li>
							<a href="/ConsultarEmpresa/"><i class="zmdi zmdi-book zmdi-hc-fw"></i> Consultar Empresa</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-account-add zmdi-hc-fw"></i> Usuarios <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="/NuevoUsuario/"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Nuevo Usuario</a>
						</li>
						<li>
							<a href="/ConsultarUsuario/"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Consultar Usuario</a>
						</li>
						<li>
							<a href="/NuevoEmpleado/"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Nuevo Empleado</a>
						</li>
						<li>
							<a href="/ConsultarEmpleado/"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Consultar Empleado</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-card zmdi-hc-fw"></i> Transacciones <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="registration.html"><i class="zmdi zmdi-money-box zmdi-hc-fw"></i> Consultar Transacciones</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</section>

	<!-- Content page-->
	<section class="full-box dashboard-contentPage">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
			</ul>
		</nav>
	
        
        <div class="container-fluid">
			<div class="page-header">
			  <h1 class="text-titles"><i class="zmdi zmdi-case zmdi-hc-fw"></i> Administrador <small>Nuevo Empleado</small></h1>
			</div>
			<!--<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse voluptas reiciendis tempora voluptatum eius porro ipsa quae voluptates officiis sapiente sunt dolorem, velit quos a qui nobis sed, dignissimos possimus!</p>-->
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<ul class="nav nav-tabs" style="margin-bottom: 15px;">
					  	<li class="active"><a href="#new" data-toggle="tab">Nuevo</a></li>
					  	<li><a href="#list" data-toggle="tab">Empleado</a></li>
					</ul>
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane fade active in" id="new">
							<div class="container-fluid">
								<div class="row">
									<div class="col-xs-12 col-md-10 col-md-offset-1">
									    <form action="">
									    	<div class="form-group label-floating">
											  <input class="form-control" type="text">
											</div>
									    	<div class="form-group label-floating">
												<label class="control-label">Nombre</label>
												<input class="form-control" type="text">
											  </div>
									    	<div class="form-group label-floating">
											  <label class="control-label">Apellido</label>
											  <input class="form-control" type="text">
											</div>
									    	<div class="form-group label-floating">
												<label class="control-label">Email</label>
												<input class="form-control" type="text">
											</div>
											<div class="form-group label-floating">
												<label class="control-label">Empresa</label>
												<input class="form-control" type="text">
											</div>																						  											
											<div class="form-group">
											  <label class="control-label">Fecha creación</label>
											  <input class="form-control" type="date">
											</div>
										    <p class="text-center">
										    	<button href="#!" class="btn btn-info btn-raised btn-sm"><i class="zmdi zmdi-floppy"></i> Guardar</button>
										    </p>
									    </form>
									</div>
								</div>
							</div>
						</div>    

	<!--====== Scripts -->
	<script src='{%static "plantillas/js/jquery-3.1.1.min.js" %}'></script>
	<script src='{%static "plantillas/js/sweetalert2.min.js"  %}'></script>
	<script src='{%static "plantillas/js/bootstrap.min.js" %}'></script>
	<script src='{%static "plantillas/js/material.min.js"  %}'></script>
	<script src='{%static "plantillas/js/ripples.min.js"  %}'></script>
	<script src='{%static "plantillas/js/jquery.mCustomScrollbar.concat.min.js" %}'></script>
	<script src='{%static "plantillas/js/main.js" %}'></script>
	<script>
		$.material.init();
	</script>
</body>
</html>